In [35]:
# Import Solver
from solvers.SolverCuttingStock import SolverCuttingStock
# import necessary packages
import pandas as pd

In [44]:
# read input from text file
def read_data_from_txt(file_path):
    roll_length = None
    orders = {}
    with open(file_path, "r") as input_file:
        roll_length = int(input_file.readline())
        count_lengths = int(input_file.readline())
        for i in range(count_lengths):
            each_length, count_order = input_file.readline().strip().split()
            orders[int(each_length)] = int(count_order)
    return int(roll_length), orders

In [51]:
folder_path= "data/simulated/"
file_name = "data_simulated_2"
roll_length, orders = read_data_from_txt(folder_path+file_name+".txt")

In [52]:
solver = SolverCuttingStock(roll_length=roll_length, orders=orders)
solution = solver.solve()

In [53]:
output_data = []
for config, roll_count in solution:
    config_text = ' '.join([f'({cut_length}, {count})' for cut_length, count in config.items()])
    waste = roll_length-sum([cut_length*count for cut_length, count in config.items()])
    output_data.append({
        "# of rolls": roll_count,
        "Configuration": config_text,
        "Waste per roll": waste
    })
df_cutting_configuration = pd.DataFrame(output_data)

In [54]:
df_cutting_configuration

    # of rolls                   Configuration  Waste per roll
0           16                         (20, 5)               0
1          211                 (41, 1) (59, 1)               0
2          144          (6, 2) (26, 1) (62, 1)               0
3           48         (13, 1) (26, 1) (61, 1)               0
4           48         (12, 1) (13, 2) (62, 1)               0
5          183          (9, 1) (27, 1) (64, 1)               0
6            8  (9, 1) (12, 1) (15, 1) (64, 1)               0
7           72                 (12, 1) (44, 2)               0
8           72         (12, 1) (26, 1) (62, 1)               0
9          137                 (28, 2) (44, 1)               0
10         155                 (14, 1) (43, 2)               0
11         194          (3, 1) (45, 1) (52, 1)               0
12         141                 (46, 1) (54, 1)               0
13          77         (13, 1) (41, 1) (46, 1)               0
14          75                 (24, 2) (52, 1)               0
15          54         (15, 1) (24, 1) (61, 1)               0
16           3                  (2, 5) (15, 6)               0
17           1                 (15, 4) (20, 2)               0
18          80          (6, 1) (15, 2) (64, 1)               0
19          18         (14, 1) (34, 1) (52, 1)               0
20         121          (2, 1) (34, 1) (64, 1)               0
21          81          (9, 1) (45, 1) (46, 1)               0
22          69         (14, 1) (41, 1) (45, 1)               0
23          54         (20, 1) (28, 1) (52, 1)               0
24         110         (14, 1) (24, 1) (62, 1)               0
25          59         (13, 1) (43, 1) (44, 1)               0

In [55]:
total_cuts_dict = {ol: 0 for ol in orders.keys()}
for config, roll_count in solution:
    for cut_length, cut_count in config.items():
        total_cuts_dict[cut_length] = total_cuts_dict[cut_length]+ roll_count*cut_count
surplus_list = []
for cut_length, count in total_cuts_dict.items():
    surplus_list.append({
        "Cut length": cut_length,
        "Ordered": orders[cut_length],
        "Produced": count,
        "Surplus": count-orders[cut_length]
    })
df_surplus = pd.DataFrame(surplus_list)

In [56]:
df_surplus

    Cut length  Ordered  Produced  Surplus
0            2      133       136        3
1            3      194       194        0
2            6      367       368        1
3            9      272       272        0
4           12      200       200        0
5           13      280       280        0
6           14      352       352        0
7           15      242       244        2
8           20      136       136        0
9           24      314       314        0
10          26      264       264        0
11          27      183       183        0
12          28      328       328        0
13          34      139       139        0
14          41      357       357        0
15          43      369       369        0
16          44      339       340        1
17          45      344       344        0
18          46      299       299        0
19          52      341       341        0
20          54      141       141        0
21          59      211       211        0
22          61      102       102        0
23          62      374       374        0
24          64      392       392        0

In [57]:
df_cutting_configuration.to_csv(f"solution/{file_name}_cutting_plan.csv", index=False)
df_surplus.to_csv(f"solution/{file_name}_surplus.csv", index=False)